.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  border-radius: 0px; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.spacer {
  margin: 0;
  padding: 0;
  height: 50px; }

.hspacer {
  margin: 0;
  padding: 0;
  height: 25px; }

.rowg {
  background-color: #f1f1f1; }

.rowo {
  background-color: #d6e9c6; }

.hero {
  background: url(../images/dc2.png) no-repeat center;
  background-size: cover;
  border: none;
  margin-top: 20px; }

@media (min-width: 992px) {
  .hero .get-it {
    text-align: center;
    margin-top: 20px; } }

@media (max-width: 992px) {
  .hero .get-it {
    text-align: center; } }

.hero .get-it p {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px; }

.hero .get-it p.maintitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 48px; }

.hero .get-it p.subtitle {
  font-family: serif;
  font-size: 24px; }

.hero .get-it .btn {
  margin-left: 10px;
  margin-bottom: 10px;
  text-shadow: none; }

.icon-features {
  text-align: center; }

section.features {
  background-color: #369;
  padding: 40px 0;
  color: #fff; }

.features h2 {
  color: #fff; }

.features .icon-features {
  margin-top: 15px; }

section.controls {
  margin-top: 20px; }
