{% extends "navless_base.html" %}
{% block content %}

    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-12 get-it">
                    <p class="maintitle">VMs Are Us</p>
                    <p class="subtitle">Dev VMs on demand.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Create VMs when you need them to work on your feature branches.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row icon-features">
                        <div class="col-4">
                            <img src="{{STATIC_URL}}images/cloud.svg" />
                            <p>Cloud Hosted</p>
                        </div>
                        <div class="col-4">
                            <img src="{{STATIC_URL}}images/clock.svg" />
                            <p>On your schedule</p>
                        </div>
                        <div class="col-4">
                            <img src="{{STATIC_URL}}images/branch.svg" />
                            <p>Loaded with your feature branch</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="controls">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'leases:vm_list' %}">
                        {% if request.user.is_authenticated %}
                            Get Started
                        {% else %}
                            Login to get started
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
