{% extends "base.html" %}
T{% block content %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete VM
                </div>
                <div class="modal-body">
                    <p>This operation will delete all data associated with this VM.</p>
                    <p>This cannot be undone.  Do you wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowg">
        <div class="spacer">&nbsp</div>
    </div>
    {% if vm.vm_state == 'a' %}
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3"><h3>Request Status</h3></div>
        </div>
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3">Error occurred during creation of VM.  Please notify DevOps.</div>
        </div>
    {% endif %}

    {% if vm.vm_state == 'q' %}
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3"><h3>Request Status</h3></div>
        </div>
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3">Awaiting vmsAreUs service to pickup your request.  The creation process may take minutes, but we will be sure to notify you by email when your machine is ready.  </div>
        </div>
    {% endif %}

    {% if vm.vm_state == 'c' %}
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3"><h3>Request Status</h3></div>
        </div>
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3">Cluster is creating VM.  This process can take 10 minutes or more.  We'll send an email when this machine is ready, or you can reload this page to see the latest status.</div>
        </div>
    {% endif %}

    {% if vm.vm_state == 'r' %}


{#        <div class="row rowg">#}
{#            <div class="col-6 "><h1>VM</h1></div>#}
{#        </div>#}

        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3"><h3>{{ vm.vm_name }}</h3></div>
        </div>
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3">

                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                        GuestOS:
                    </div>
                    <div class="col-8 ">
                        {{ guest_os }}
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                        Power:
                    </div>
                    <div class="col-8 ">
                        {{ guest_power }}
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                        IPAddress:
                    </div>
                    <div class="col-8 ">
                        {% if ip is None %}
                            awaiting assignment....
                        {% else %}
                            {{ ip }}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
	    <div class="row rowg">
            <div class="spacer">&nbsp</div>
        </div>
        <div class="row rowg">
            <div class="col-lg-6 offset-lg-3">
                <div class="row rowo">
		            <div class="col-12">
                    	<p> Connect using a remote desktop client such as xfreerdp like this: </p>
		            </div>
                </div>
                <div class="row rowo">
                    <div class="col-12">
                    <p>xfreerdp -u developer -g 1280x720 {{ ip }} </p>
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-12">
                        <p> Your initial credentials on the machine are:</p>
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                            User:
                    </div>
                    <div class="col-8 ">
                           developer
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                            password:
                    </div>
                    <div class="col-8 ">
                      00ChangeThis
                    </div>
                </div>
            </div>
		</div>


    {% endif %}


{% endblock %}
