{% extends "base.html" %}
T{% block content %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete VM
                </div>
                <div class="modal-body">
                    <p>This operation will delete all data associated with this VM.</p>
                    <p>This cannot be undone.  Do you wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 offset-1 border-top-1">

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <img src="{{STATIC_URL}}images/Windows_10_Logo.svg" width="240" style="margin-top:10px;"
                            data-toggle="popover" data-trigger="hover" data-placement="bottom"
                            data-content="Operating System on this machine.">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-top:20px;">
                    <div class="col-2 col-lg-1">
                        <img src="{{STATIC_URL}}images/branch-dark.svg" height="50"
                             data-toggle="popover" data-trigger="hover" data-placement="right"
                             data-content="Feature branch on this machine.">
                    </div>
                    <div class="col-9 ">
                        <p>{{ vm.branch_name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <h3>Initial login info</h3>
        <div class="row" style="margin-top:30px;">
            <div class="col-12">
                <div class="row">
		            <div class="col-10 offset-1">
                    	<p>You can login to your vm at address {{ ip }} with the following credentials </p>
		            </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="row">
                            <div class="col-4 text-right">
                                    <p>User:</p>
                            </div>
                            <div class="col-8">
                                  <p>{{ request.user.username }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4 text-sm-right">
                                <p>Password:</p>
                            </div>
                            <div class="col-12 col-sm-8">
                                <p>{{ vm.starting_password }}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top:20px;">
		            <div class="col-10 offset-1">
                    	<p>You can use xfreerdp to login to your vm remotely from your linux machine. You can also use rdesktop, but you may run into issues if you are on CentOS 6. You can start a remote desktop connection using xfreerdp with the following command </p>
		            </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row">
                            <div class="col-12">
                                <pre style="padding:20px;color: silver; background: black;">xfreerdp -u {{ request.user.username }} -g 1280x720 {{ ip }}</pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer">&nbsp</div>
                </div>
                <h3>Change password on first login </h3>

                <div class="row" style="margin-top:20px;">
		            <div class="col-10 offset-1">
                    	<p> We STRONGLY recommend that you change your password upon first connection.  Right-Click on Cygwin-terminal and run it as administrator.  Then use this command with your new password substituted: </p>
		            </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row">
                            <div class="col-12">
                                <pre style="padding:20px;color: silver; background: black;">net user {{ request.user.username }} YOUR_NEW_PASSWORD</pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer">&nbsp</div>
                </div>
                <h3>Create a symlink to your codebase</h3>
                <div class="row" style="margin-top:20px;">
		            <div class="col-10 offset-1">
                        <p>A file titled <b>linkDevToE</b> has been placed on your desktop.  If you right click on it and choose 'Run as administrator', Windows will create a link from your cygwinHome/dev to the directory holding your workspace.  This is a one-time task and from thenceforth you will be able to start a cygwin terminal and <code>cd dev/star</code> to get to the root of your git repo as you may be familiar with in your local workstation. </p>
		            </div>
                </div>


                <div class="row">
                    <div class="spacer">&nbsp</div>
                </div>
                <h3>Creating a VS solution</h3>

                <div class="row" >
		            <div class="col-10 offset-1">
                        <span>If you are planning to create a Visual Studio solution, please </span><a href="http://devhelp.lebanon.cd-adapco.com/servicedesk/customer/portal/1">open another service desk ticket</a> <span>requesting a licence for Visual Studio 2013. Please make sure that you apply the license to the already installed Visual Studio 2013 before you build the solution.</span>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer">&nbsp</div>
                </div>
            </div>
		</div>
    </div>
{% endblock %}
