{% extends "base.html" %}
{% block title %}Vms{% endblock %}

{% block content %}
    <div class="row ">
        <div class="spacer">&nbsp</div>
    </div>
    <div class="row">
         <div class="col-md-8">
             {%  if vms %}
                 <h1>Your VMs</h1>
                 {% else %}
                 <h1>You have no VMs</h1>
                 {% endif %}
        </div>
    </div>

    <div class="row">

                {% for vm in vms %}
                    <div class="col-md-5 border-top-1" onclick='window.document.location="{% url 'leases:vm_detail' pk=vm.pk %}";'>
                        <div class="row" >
                            <div class="col-2 offset-2 col-lg-3 offset-lg-0" ><img src="{{STATIC_URL}}images/WIN10.svg" height="100"></div>
                            <div class="col-lg-8 offset-lg-1">

                                <div class="row attrSet">
                                    <div class="col-8 col-md-6 text-xs-left text-lg-right">
                                        <p class="attrTitle">Cores:</p>
                                    </div>
                                    <div class="col-4 col-md-6">
                                        <p class="attrVal">{{ vm.core_count }}</p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-8 col-md-6  text-xs-left text-lg-right">
                                        <p class="attrTitle">Memory:</p>
                                    </div>
                                    <div class="col-4 col-md-6">
                                        <p class="attrVal">{{ vm.memory_size }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

    </div>
    <div class="row ">
        <div class="spacer">&nbsp</div>
    </div>
    <div class="row">
    <div class="col-md-2">
            <a class="btn btn-lg btn-primary float-md-right" href={% url 'leases:vm_new' %} role="button">New VM</a>
        </div>
    </div>

{% endblock content %}
