{% extends "base.html" %}
T{% block content %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete VM
                </div>
                <div class="modal-body">
                    <p>This operation will delete all data associated with this VM.</p>
                    <p>This cannot be undone.  Do you wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-10 offset-1" >
            <h2>Leasing</h2>
        </div>
    </div>
    <div class="col-10 offset-1 border-top-1">

        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12">
                        <p style="margin-top:10px">Developer VMs are assigned a lease duration of 1 month.  When the lease period expires, the machine will be reclaimed by the recycling process.  If you wish to keep this VM longer, you must extend the lease duration using this provided button.</p>
                    </div>
                </div>
                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                        Born:
                    </div>
                    <div class="col-8 ">
                        {{ vm.created_date | date:"E d Y" }}
                    </div>
                </div>

                <div class="row rowo">
                    <div class="col-4 col-sm-4 text-right">
                        Expires:
                    </div>
                    <div class="col-8 ">
                        {{ vm.expires_date | date:"E d Y" }}
                    </div>
                </div>
                <div class="row">
                    <div class="hspacer">&nbsp</div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-3">
                        <a class="btn btn-success" href="{% url 'leases:vm_extend' pk=vm.pk %}">
                            Extend Lease
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="hspacer">&nbsp</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-10 offset-1" >
            <h2>Early Termination</h2>
        </div>
    </div>
    <div class="col-10 offset-1 border-top-1">

        <div class="row">
            <div class="col-12">
                <p style="margin-top:10px">Should you finish with this VM before its lease expires, we request that you terminate it early.  Use the provided button to return the bits to the recycler.</p>
            </div>
        </div>

        <div class="row">
            <div class="hspacer">&nbsp</div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <button class="btn btn-danger" data-href="{% url 'leases:vm_remove' pk=vm.pk %}" data-toggle="modal" data-target="#confirm-delete">
                    Delete this VM
                </button>
            </div>
        </div>

        <div class="row">
            <div class="hspacer">&nbsp</div>
        </div>


    </div>



{% endblock %}
